body {
  background-color: #E6E6FA;
  color: black;
  font-size: 100;
  font-family: Courier;
  padding-left: 10%;
  line-height: 1.2;
}
header {
  padding: 10px;
  position: relative;
  font-size: 35px;
  color: black;
}
.column {
  float: left;
  width: 510px;
  padding: 0px;
}
.row::after {
  content: "";
  display: table;
}
a:link {
  color: #800080;
  text-decoration: none;
}
a:visited {
  color: #880080;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:#c225b9;
}
a:active {
  font-weight: bolder;
}
img {
  border-radius: 7%;
}
